---
layout: default
---

{% include home_header.html %}

<article>
  <div class="container">
    <ul class="posts">
      {% for post in paginator.posts %}
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date_to_string }}
          </span>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous"><a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Latest</a></li>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path }}">Previous <span aria-hidden="true">&rarr;</span></a></li>
      {% endif %}
    </ul>
  </nav>
</article>



