<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
.gr_custom_container_1538738785 {
/* customize your Goodreads widget container here*/
border: 1px solid gray;
border-radius:10px;
padding: 10px 5px 10px 5px;
background-color: #FFFFFF;
color: #000000;
width: 300px
}
.gr_custom_header_1538738785 {
/* customize your Goodreads header here*/
border-bottom: 1px solid gray;
width: 100%;
margin-bottom: 5px;
text-align: center;
font-size: 120%
}
.gr_custom_each_container_1538738785 {
/* customize each individual book container here */
width: 100%;
clear: both;
margin-bottom: 10px;
overflow: auto;
padding-bottom: 4px;
border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1538738785 {
/* customize your book covers here */
overflow: hidden;
height: 60px;
float: left;
margin-right: 4px;
width: 39px;
}
.gr_custom_author_1538738785 {
/* customize your author names here */
font-size: 10px;
}
.gr_custom_tags_1538738785 {
/* customize your tags here */
font-size: 10px;
color: gray;
}
.gr_custom_rating_1538738785 {
/* customize your rating stars here */
float: right;
}
</style>

<div id="gr_custom_widget_1538738785">
    <div class="gr_custom_container_1538738785">
<h2 class="gr_custom_header_1538738785">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/30265524-christopher?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Christopher&#39;s bookshelf: read</a>
</h2>
<div class="gr_custom_each_container_1538738785">
    <div class="gr_custom_book_container_1538738785">
      <a title="The Heart Is a Lonely Hunter " rel="nofollow" href="https://www.goodreads.com/review/show/2537342373?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Heart Is a Lonely Hunter" border="0" src="https://images.gr-assets.com/books/1178654860s/816786.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1538738785">
      <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1538738785">
      <a rel="nofollow" href="https://www.goodreads.com/review/show/2537342373?utm_medium=api&amp;utm_source=custom_widget">The Heart Is a Lonely Hunter</a>
    </div>
    <div class="gr_custom_author_1538738785">
      by <a rel="nofollow" href="https://www.goodreads.com/author/show/3506.Carson_McCullers">Carson McCullers</a>
    </div>
</div>
<div class="gr_custom_each_container_1538738785">
    <div class="gr_custom_book_container_1538738785">
      <a title="Hyperion (Hyperion Cantos #1)" rel="nofollow" href="https://www.goodreads.com/review/show/1362934853?utm_medium=api&amp;utm_source=custom_widget"><img alt="Hyperion" border="0" src="https://images.gr-assets.com/books/1526153353s/13625059.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1538738785">
      <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1538738785">
      <a rel="nofollow" href="https://www.goodreads.com/review/show/1362934853?utm_medium=api&amp;utm_source=custom_widget">Hyperion</a>
    </div>
    <div class="gr_custom_author_1538738785">
      by <a rel="nofollow" href="https://www.goodreads.com/author/show/2687.Dan_Simmons">Dan Simmons</a>
    </div>
    <div class="gr_custom_tags_1538738785">
      tagged:
      science-fiction
    </div>
</div>
<div class="gr_custom_each_container_1538738785">
    <div class="gr_custom_book_container_1538738785">
      <a title="Down and Out in Paris and London" rel="nofollow" href="https://www.goodreads.com/review/show/2512159032?utm_medium=api&amp;utm_source=custom_widget"><img alt="Down and Out in Paris and London" border="0" src="https://images.gr-assets.com/books/1325176762s/13335622.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1538738785">
      <span class=" staticStars" title="liked it"><img alt="liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1538738785">
      <a rel="nofollow" href="https://www.goodreads.com/review/show/2512159032?utm_medium=api&amp;utm_source=custom_widget">Down and Out in Paris and London</a>
    </div>
    <div class="gr_custom_author_1538738785">
      by <a rel="nofollow" href="https://www.goodreads.com/author/show/3706.George_Orwell">George Orwell</a>
    </div>
</div>
<div class="gr_custom_each_container_1538738785">
    <div class="gr_custom_book_container_1538738785">
      <a title="The Man In The High Castle" rel="nofollow" href="https://www.goodreads.com/review/show/2496934772?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Man In The High Castle" border="0" src="https://images.gr-assets.com/books/1292445122s/883632.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1538738785">
      <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1538738785">
      <a rel="nofollow" href="https://www.goodreads.com/review/show/2496934772?utm_medium=api&amp;utm_source=custom_widget">The Man In The High Castle</a>
    </div>
    <div class="gr_custom_author_1538738785">
      by <a rel="nofollow" href="https://www.goodreads.com/author/show/4764.Philip_K_Dick">Philip K. Dick</a>
    </div>
    <div class="gr_custom_tags_1538738785">
      tagged:
      science-fiction
    </div>
</div>
<div class="gr_custom_each_container_1538738785">
    <div class="gr_custom_book_container_1538738785">
      <a title="The Unbearable Lightness of Being" rel="nofollow" href="https://www.goodreads.com/review/show/2491216501?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Unbearable Lightness of Being" border="0" src="https://images.gr-assets.com/books/1288863529s/9642035.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1538738785">
      <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1538738785">
      <a rel="nofollow" href="https://www.goodreads.com/review/show/2491216501?utm_medium=api&amp;utm_source=custom_widget">The Unbearable Lightness of Being</a>
    </div>
    <div class="gr_custom_author_1538738785">
      by <a rel="nofollow" href="https://www.goodreads.com/author/show/6343.Milan_Kundera">Milan Kundera</a>
    </div>
</div>
<br style="clear: both"/>
<!-- <center><a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a></center> -->
<!-- <noscript>Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Christopher, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.</noscript> -->
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/30265524.Christopher's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=0&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1538738785&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
