
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" language="Javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Enable inline mathjax. Must be placed before loading Mathjax. See http://tex.stackexchange.com/questions/27633/mathjax-inline-mode-not-rendering -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<!-- MathJax script -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<!--link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"-->

<!-- Fonts -->
<!--link href='https://fonts.googleapis.com/css?family=Open+Sans:500,800,400italic|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'-->
