{% capture tags %}{% for tag in site.tags %}{{ tag[0] }}|{% endfor %}{% endcapture %}
{% assign sortedtags = tags | split:'|' | sort %}

<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse"><!-- id="bs-example-navbar-collapse-1">-->
    <ol class="nav navbar-nav">
      <li><a class="navbar-brand" href="{{ site.baseurl }}/">Polyphant</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags<span class="caret"></span></a>
        <ol class="dropdown-menu">
          <li><a href="/tags">All</a></li>
          <li role="separator" class="divider"></li>

          {% for tag in sortedtags %}
          <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
          {% endfor %}

        </ol>
      </li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ol>
  </div>
</nav>
