<header id="post-header">
  <div class="container post-container">

    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            <div class="post-date">{{ page.date | date_to_string }}</div>
          </span>
        </li>
        <li>
          <div class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

          <p class="post-meta">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a></h5>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}" data-counter="right"></script>
          </p>
        </li>
      </ul>

      {% include navbar.html %}
    </div>

  </div>
</header>
