pre code.hljs {
  font-size: 1.1em;
}

img.small {
  width: auto;
}

img.vsmall {
  width: 50%;
}

img.carousel_small {
  width: 30%;
}

.home {
  padding-bottom: 2em;
}

.img-circle {
    padding-top: 1em;
    border-radius: 50%;
}

.post-social-meta {
  float:left;
  // padding-top: 8px;
  padding-top: 0px;
}

.fb-like {
  float:left;
  padding-right: 5px;
}

// div.page-content
article.post-content :not(h1):not(h2):not(h3) a {
  color: $link-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 10%);
    //text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
