pre code.hljs {
  font-size: 1.1em;
}

img.small {
  width: auto;
}

img.vsmall {
  width: 50%;
}

.img-circle {
    border-radius: 50%;
}

.post-social-meta {
  float:left;
  padding-top: 8px;
}

.fb-like {
  float:left;
  padding-right: 5px;
}

article :not(h1):not(h2):not(h3) a {
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 10%);
    //text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
  }

  color: $link-color;
}
